    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" routerLink="/acceuil" routerLinkActive="active">Acceuil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/propos" routerLinkActive="active">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
          </ul>
        </nav>

        <h3 class="text-muted">Football survey</h3>
      </div>
   </div>
   <div class="container">
  

<div class="container">
   
  

  <router-outlet></router-outlet>



  <footer class="footer">
        <p>© Williams Koffi 2020</p>
  </footer>

</div>
  