a, h1, h4{
	color: white;
}
.post{
	text-align: center;
	margin: 10vh auto;
}

 .input-group-addon{
  	background: #343a40;
  	color: white
  }

  .nav-link.active{
	color: white;
	background-color: green;
}

.footer{
	color: white;
	position:absolute;
	bottom:0;
}
@media (max-width: 375px) {
  .text-muted{
  	display: none;
  }
}